td{
    border: none;
}
tr{
    border: none;
}
#box{
    padding-top: 5%;
    padding-left: 8%;
}
.image{
    width: 150px;
}
@media (max-width:720px) {
    /*For mobiles*/
    #box{
        padding-top: 15%;
    }
    .image{
        width: 80px;
    }
    #laptop{
        display: none;
    }
}
.cards{
    border: 1px solid black;
    box-shadow: black 8px 8px;
    width: 180px;
    margin-right: 5%;
    margin-bottom: 5%;
}